@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10%;
	background-color: var(--surface-container);
	height: 64px;
	z-index: 11;
}

header a, header button, .tabs li {
	font-size: 1rem;
	font-weight: 500;
	font-family: "Montserrat";
}

.visual-id {
	cursor: pointer;
}

.btn-menu {
	display: none;
	width: 32px;
	cursor: pointer;
}

.btn-menu .bar {
	background-color: var(--on-surface-inverse);
	margin: 3px;
	height: 4px;
}

.tabs {
	display: flex;
	list-style-type: none;
}

.tabs li {
	display: inline-block;
	text-align: center;
	min-width: 120px;
	height: 64px;
}

.tab a {
	color: var(--on-surface-inverse);
	text-decoration: none;
	transition: all 0.3s ease 0s;
	display: inline-block;
	line-height: 64px;
	width: 100%;
}

header button {
	margin: 0;
	padding: 9px 25px;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}
header button:hover {
	opacity: 0.8;
}

#overlay {
	display: none;
	opacity: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, .5);
	inset: 64px 0 0 0;
	z-index: 10;
}

@media screen
and (min-device-width: 320px)
and (max-device-width: 768px) {
	.btn-menu {
		display: flex;
		flex-direction: column;
	}

	header > .cta {
		display: none;
	}

	header .menu {
		display: none;
		min-height: calc(100vh - 64px);
		opacity: .97;
		z-index: 12;
		text-align: center;
		background-color: var(--surface-container);
	}

	header .menu.open {
		display: flex;
		opacity: .88;
		flex-direction: column;
		width: min(19rem, 97%);
		position: absolute;
		top: 64px;
		right: 0;
	}

	header .menu.open .cta {
		margin-top: 15px
	}

	header .menu .tabs {
		display: flex;
		flex-direction: column;
		gap: unset;
	}

	#overlay.visible {
		display: block;
		opacity: .67;
	}
}
