:root {
	--txt-normal: #121212;
	--txt-inverse: #FCFCFC;
	/* Surface Colors */
	--surface: #F1F1F1;  /* TODO: Change*/
	--on-surface: var(--txt-normal);
	--surface-container: #3D3D3D;  /* TODO: Change*/
	--on-surface-variant: #E5E5E5;
	--surface-inverse: #333333;  /* Notifications snackbar */
	--on-surface-inverse: var(--txt-inverse);

	/* Primary Colors */
	--primary: #7A7A7A;  /* TODO: Change*/
	--on-primary: var(--txt-inverse);
	--primary-container: #D9D9D9;  /* TODO: Change*/
	--on-primary-container: var(--txt-normal);
	--primary-inverse: #8B8B8B;  /* TODO: Change (CTA / snackbar) */

	/* Secondary Colors */
	--secondary: #838383;  /* TODO: Change*/
	--on-secondary: var(--txt-inverse);
	--secondary-container: #EDEDED;  /* TODO: Change*/
	--on-secondary-container: var(--txt-normal);

	/* Outline Colors */
	--outline: #6E6E6E;
	--outline-variant: #808080;
}

body {
    /* Fallback */
	font-family: sans-serif;
}

